article {
    width: 22%;
}

/* MEDIA QUERIES */

@media (max-width: 600px) {
    article {
        width: 80%;
    }
}

@media  (min-width: 600px) and (max-width: 1200px) {
    article {
        width: 50%;
    }
}

@media  (min-width: 1200px) and (max-width: 1400px) {
    article {
        width: 40%;
    }
}


