.form__wrapper {
    width: 30%;
    margin: auto;
}

.search {
    height: 40px;
    background: #444;
    background: rgba(0, 0, 0, .2);
    border: 1px solid #fff;
}

.search input {
    width: 80%;
    padding: 10px 5px;
    text-align: center;
    color: #ccc;
    border: 0;
    background: transparent;
    border-right: 1px solid white;
}

.search input:focus {
    outline: 0;
    background: transparent;
}

.search button {
    height: 38px;
    width: 20%;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    background: transparent;
}

.search button:hover {
    background: #fff;
    color: #444;
    overflow: hidden;
}

.search button:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search button:focus {
    outline: 0;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .form__wrapper {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .form__wrapper {
        width: 80%;
    }
}
@media (max-width: 400px) {
    .form__wrapper {
        width: 90%;
    }
}
