.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.header-height {
  height: 90vh;
}

h1 {
  font-size: 3rem;
}

h1 span {
  background-color: #333333;
  padding: 5px 15px 10px 15px;
}

@media (max-width: 1200px) {
  h1 {
      font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  h1 {
      font-size: 2rem;
  }
}


h3 {
  font-size: 2rem;
  color: pink;
  font-weight: 900
}

/* Rotate effect */

.hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.hvr-icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Grow on hover effect */

.grow-hov:hover {
  transform: scale(1.1);
}

/* Grey background hover effect */

.grey-back:hover {
  background-color: #e9e9e9;
}

/* Element inside div never a target for pointer events */

.fav-wrapper>* {
  pointer-events: none;
  cursor: pointer;
}

.fav-wrapper {
  cursor: pointer;
}
