.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.fav-wrapper > * {
  pointer-events: none;
  cursor: pointer;
}

.fav-wrapper {
  cursor: pointer;
}

.grow-hov:hover {
  transform: scale(1.1);
}

.header-height {
  height: 90vh;
}

h1 {
  font-size: 50px;
}

h1 span {
  background-color: #333333;
  padding: 5px 15px 10px 15px;
}
