.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.header-height {
  height: 90vh;
}

h1 {
  font-size: 50px;
}

h1 span {
  background-color: #333333;
  padding: 5px 15px 10px 15px;
}

/* Rotate effect */

.hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.hvr-icon:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* Grow on hover effect */

.grow-hov:hover {
  transform: scale(1.1);
}

/* Element inside div never a target for pointer events */

.fav-wrapper>* {
  pointer-events: none;
  cursor: pointer;
}

.fav-wrapper {
  cursor: pointer;
}